body {
  min-height: 75rem;
  background: url("/Users/cristylegarrard/Desktop/TA-Website/Images/RsrchDatabsEssentials/ChlKbrDbkground.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  height: 7.4rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
}
.navbar-brand {
  margin-left: -1.3rem;
}

.mybtn {
height: 3.2rem;
width: 10rem;
white-space: normal;
font-size: .95vw;
padding: 0;
color: white !important;
background-color: #3E4551 !important;
}

.dropdown-menu {
  background-color: #4B515D;
}
