<div class="row">
<div class="col-9">
  <div class="row justify-content-around">
    <!--/Filter by Author-->
    <!--INSERT author QUERY HERE-->
    <div class="col-4 dropdown FBM">
      <button type="button" class="btn btn-secondary waves-effect modal-btn2" id="TbLcHi-sm1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Author</a>
      </button>
      <div class="dropdown-menu dropdown-menu-center mydd" aria-labeledby="TbLcHi-sm1">
        <table>
          <tbody>
            <tr>
              <td class="ddlink">Author Name</td>
            </tr>
            <tr>
              <td class="ddlink">Author Name</td>
            </tr>
            <tr>
              <td class="ddlink">Author Name</td>
            </tr>
            <tr>
              <td class="ddlink">Author Name</td>
            </tr>
            <tr>
              <td class="ddlink">Author Name</td>
            </tr>
            <tr>
              <td class="ddlink">Author Name</td>
            </tr>
            <tr>
              <td class="ddlink">Author Name</td>
            </tr>
            <tr>
              <td class="ddlink">Author Name</td>
            </tr>
            <tr>
              <td class="ddlink">Author Name</td>
            </tr>
            <tr>
              <td class="ddlink">Author Name</td>
            </tr>
            <tr>
              <td class="ddlink">Author Name</td>
            </tr>
            <tr>
              <td class="ddlink">Author Name</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--Filter by Author\-->
    <!--/Filter by Year-->
    <!--INSERT year QUERY HERE-->
    <div class="col-4 dropdown FBM">
      <button type="button" class="btn btn-default waves-effect modal-btn2" id="TbLcHi-sm2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Year</a>
      </button>
      <div class="dropdown-menu dropdown-menu-center mydd" aria-labeledby="TbLcHi-sm2">
        <table>
          <tbody>
            <tr>
              <td class="ddlink">Year</td>
            </tr>
            <tr>
              <td class="ddlink">Year</td>
            </tr>
            <tr>
              <td class="ddlink">Year</td>
            </tr>
            <tr>
              <td class="ddlink">Year</td>
            </tr>
            <tr>
              <td class="ddlink">Year</td>
            </tr>
            <tr>
              <td class="ddlink">Year</td>
            </tr>
            <tr>
              <td class="ddlink">Year</td>
            </tr>
            <tr>
              <td class="ddlink">Year</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--Filter by Year\-->
    <!--/Filter by Journal-->
    <!--INSERT journal QUERY HERE-->
    <div class="col-4 dropdown FBM">
      <button type="button" class="btn btn-secondary waves-effect modal-btn2" id="MSADD3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Journal</a>
      </button>
      <div class="dropdown-menu dropdown-menu-center mydd" aria-labeledby="MSADD3">
        <table>
          <tbody>
            <tr>
              <td class="ddlink">Journal Title</td>
            </tr>
            <tr>
              <td class="ddlink">Journal Title</td>
            </tr>
            <tr>
              <td class="ddlink">Journal Title</td>
            </tr>
            <tr>
              <td class="ddlink">Journal Title</td>
            </tr>
            <tr>
              <td class="ddlink">Journal Title</td>
            </tr>
            <tr>
              <td class="ddlink">Journal Title</td>
            </tr>
            <tr>
              <td class="ddlink">Journal Title</td>
            </tr>
            <tr>
              <td class="ddlink">Journal Title</td>
            </tr>
            <tr>
              <td class="ddlink">Journal Title</td>
            </tr>
            <tr>
              <td class="ddlink">Journal Title</td>
            </tr>
            <tr>
              <td class="ddlink">Journal Title</td>
            </tr>
            <tr>
              <td class="ddlink">Journal Title</td>
            </tr>
            <tr>
              <td class="ddlink">Journal Title</td>
            </tr>
            <tr>
              <td class="ddlink">Journal Title</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--Filter by Journal\-->
  </div>
</div>
<!--/Close Button-->
<div class="col-2 align-self-start">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true" class="white-text">&times;</span>
  </button>
</div>
<!--Close Button\-->
</div>
