.maindiv {
  margin-top: 1em;
  margin-left: .2em;
  margin-right: .2em;
  line-height: 1em;
}
.TbLcHi {
  background-color: #1C2331;
  padding: .5em;
  margin-left: 2vw;
  margin-right: .5vw;
}
.card-TbLcHi {
  background-color: #78909c;
  padding: 0em;
  margin: 0em;
}
.TbLcHi2 {
  background-color: #1C2331;
  padding: .1em;
}
th.TblHd {
  border: none !important;
  color: #aa66cc;
}
th.TblHd1 {
  border: none !important;
  color: #2BBBAD;
}
h2.tBlBtn {
  font-size: 1em;
}
.databox {
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1em;
  padding: 0em;
  margin: 0em;
}
.databox {
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1em;}


.flTrJournal {
  padding: 1vw;
  text-align: center;
  border-radius: 18px;
  font-size: 1.5vw;
  font-weight: 400;
  height: 50%;
  width: 100%;
  border: 0;
  color: #fff !important;
  margin: .5em;
  white-space: normal !important;
}
.Searching {
  height: 68%;
  margin-right: 0;
  white-space: normal !important;
  padding-top: .5em;
  padding-right: 0;
  width: 90%;
}

.flTr-dd {
  width: 2vw;
  /*line-height: 1.25em;*/
  border: none !important;
  height: 135px;
  font-size: 3vw;
  overflow-y: auto;
}
a.flTrddLink {
  color: #2BBBAD !important;
  font-size: 1em;
}
a.flTrddLink1 {
  color: #2BBBAD !important;
  font-size: 1em;
}
a.flTrddLink1:hover {
  color: #fff59d !important;
}
td.flTrddLink {
  width: 100%;
  padding: .25em;
}
.LkcLr {
  color: #aa66cc;
  background-color: #1C2331;
}
a.LkcLr:hover {
    color: #fff59d !important;
}
.input-group.md-form.form-sm.form-2 input {
    border: 2px solid #2BBBAD !important;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    height: 1vw;
    color: #9933CC;
    font-weight: bold;
    font-size: .75em;
}
.BrwsRw {
  color: #2BBBAD;
  text-align: center;
}
.BrwsRw1:hover {
  color: #fff59d;
}
.BrwsRw1 {
  color: #aa66cc;
  text-align: center;
}
